.not-found {
  max-width: 1200px;
  margin: 10rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10rem;

  & img {
    border-radius: 10rem;
    margin-right: 7rem;
  }

  div {
    text-align: center;
    font-family: "Roboto";

    p {
      margin-top: 3rem;
      font-size: 1.8rem;
      line-height: 1.6;
      a {
        color: #5759ff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}