.restorePassword {
  max-width: 140rem;
  margin: 10rem auto;
  text-align: center;

  &__fail-h1 {
    color: rgb(255, 44, 44);
    font-size: 5.5rem;
    font-family: "Roboto";
    font-weight: 100;
  }
  &__fail-h2 {
    margin-top: 5rem;
    color: rgb(255, 44, 44);
    font-family: "Lato";
  }
  &__success {
    & > h1 {
      font-size: 5rem;
      font-family: "Roboto";
      font-weight: 100;
      color: rgb(0, 190, 0);
    }
    & > h2 {
      margin: 5rem 0;
      color: rgb(0, 173, 0);
      font-size: 3rem;
      font-family: "Lato";
    }
    & > button {
      display: block;
      margin: 0 auto;
      font-size: 2rem;
    }
  }

  &__input {
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    width: 40rem;
    margin: 3rem auto;

    & > div {
      width: 100%;
      & input {
        padding: 1.5rem 2rem;
        border-radius: 15px;
        border: 1px solid #ddd;
        width: 100%;
        transition: 0.5s;

        &:hover,
        &:active {
          border: 1px solid black;
        }
        &:focus {
          outline: none;
        }
      }
    }
    & > input[type="checkbox"] {
      position: absolute;
      top: 1.7rem;
      right: -4rem;
      transform: scale(1.3);
      margin: 0 1rem;
    }
    & > label {
      position: absolute;
      top: 1.4rem;
      right: -8rem;
      font-size: 1.75rem;
    }
  }
}

.submit-restore-password {
  display: block;
  margin: 0 auto;
  font-size: 1.8rem;
}

.logger {
  color: rgb(255, 60, 60);
}