.grid-2x2 {
  width: 48%;
}

.grid-3x3 {
  width: 31%;
}

.grid-4x4 {
  width: 23%;
}

.user {
  display: flex;
  align-items: center;
  padding: 2.75rem;
  background-color: white;
  font-family: "Roboto";
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 1rem 1% 1rem 1%;
  transform: scale(1);
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 6px black;
  }

  & img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  & > div {
    flex-grow: 1;
    margin-left: 2.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px 0;
      font-family: "Lato";
      font-weight: 400;
      font-size: 1.8rem;
      & > span {
        font-weight: bold;
        color: blue;
      }
    }
  }
}
