.login-container {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  @media screen and (min-width: 650px) {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    animation: scaleLogin 0.6s ease;
    transform: translate(-50%, -50%) scale(1);
  }
  @media screen and (max-width: 669px) {
    padding: 3.5rem;
    width: 50rem;
    height: 82rem;
    border-radius: 5rem;
    text-align: center;
    overflow: hidden;
    animation: scaleLogin 0.6s ease;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 1s ease;
  }
  @media screen and (max-width: 450px) {
    padding: 2.5rem;
    width: 45rem;
  }
  @media screen and (max-width: 400px) {
    padding: 2rem;
    width: 42rem;
  }
  @media screen and (max-width: 330px) {
    padding: 2rem;
    width: 38rem;
  }
}

@keyframes scaleLogin {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.login {
  position: absolute;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  &-h1 {
    font-weight: bold;
    margin: 0;
  }

  &-p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }

  &-span {
    font-size: 12px;
  }

  &-a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;

    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: 669px) {
      margin: 0 0 5px 0;
    }
  }

  &-button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;

    @media screen and (max-width: 669px) {
      padding: 10px 40px;
      font-size: 1.4rem;
    }
  }

  &-button:active {
    transform: scale(0.95);
  }

  &-button:focus {
    outline: none;
  }

  &-ghost {
    background-color: transparent;
    border-color: #ffffff;
  }

  &-form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    height: 100%;
    text-align: center;
    @media screen and (max-width: 669px) {
      width: 100%;
      height: 100%;
    }
  }

  &-input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;

    &:focus {
      outline: none;
    }
    @media screen and (max-width: 669px) {
      padding: 10px 15px;
    }
  }

  &-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;

    @media screen and (max-width: 669px) {
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
    }
  }

  &-sign-in-container {
    top: 0;
    width: 50%;
    z-index: 2;
    @media screen and (max-width: 669px) {
      width: 100%;
      height: 50%;
    }
  }

  &-container.login-right-panel-active .login-sign-in-container {
    transform: translateX(100%);
    @media screen and (max-width: 669px) {
      transform: translateY(100%);
    }
  }

  &-sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    @media screen and (max-width: 669px) {
      width: 100%;
    }
  }

  &-container.login-right-panel-active .login-sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
    @media screen and (max-width: 669px) {
      transform: translateY(100%);
    }
  }

  &-overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    @media screen and (max-width: 669px) {
      top: 50%;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &-container.login-right-panel-active .login-overlay-container {
    transform: translateX(-100%);
    @media screen and (max-width: 669px) {
      transform: translateY(-100%);
    }
  }

  &-overlay {
    background-image: linear-gradient(
      315deg,
      #0ebbbb 0%,
      rgb(0, 118, 173) 55%,
      #1e6ca0 74%,
      rgb(26, 26, 97) 100%
    );
    background-color: #0cbaba;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    @media screen and (max-width: 669px) {
      transform: translateY(0);
    }
  }

  &-container.login-right-panel-active .login-overlay {
    transform: translateX(50%);
    @media screen and (max-width: 669px) {
      transform: translateY(50%);
    }
  }

  &-overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    @media screen and (max-width: 669px) {
      transform: translateY(0);
    }
  }

  &-overlay-left {
    transform: translateX(-20%);
    @media screen and (max-width: 669px) {
      transform: translate(100%, -90%);
      z-index: 100;
    }
  }

  &-container.login-right-panel-active .login-overlay-left {
    transform: translateX(0);
    @media screen and (max-width: 669px) {
      transform: translate(100%, -25%);
    }
  }

  &-overlay-right {
    right: 0;
    transform: translateX(0);
    @media screen and (max-width: 669px) {
      top: -25%;
      transform: translateY(0);
    }
  }

  &-container.login-right-panel-active .login-overlay-right {
    transform: translateX(20%);
    @media screen and (max-width: 669px) {
      transform: translateY(60%);
    }
  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      flex: 1 0 auto;
      margin: 0 1rem;
    }
  }

  &-social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: 1s ease;

    @media screen and (max-width: 669px) {
      height: 35px;
      width: 35px;
    }

    img {
      width: 70%;
      height: 70%;
    }
  }

  &__logger {
    position: relative;
    display: block;
    top: -5px;
    left: 5px;
    width: 100%;
    text-align: left;
    color: red;
    font-family: "Lato";
  }

  &-create-account-text {
    color: rgb(20, 156, 20);
    font-family: "Roboto";
    margin: 0.5rem 0;
  }

  &-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 20px;
    height: 20px;
    z-index: 101;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 2rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: .3s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
    }

    &:active {
      transform: scale(1);
      box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.6);
    }

    &::before {
      content: "";
      position: absolute;
      top: 23%;
      left: 25%;
      width: 25px;
      height: 2px;
      background-color: black;
      border-radius: 20px;
      z-index: 101;
      transform: rotate(45deg);
      transform-origin: 0 100%;

      @media screen and (max-width: 1000px) {
        top: 20%;
        left: 23%;
      }

      @media screen and (max-width: 550px) {
        top: 20%;
        left: 22%;
        width: 22px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 24%;
      left: 26%;
      width: 25px;
      height: 2px;
      background-color: black;
      border-radius: 20px;
      z-index: 101;
      transform: rotate(-45deg);
      transform-origin: 0 0;

      @media screen and (max-width: 1000px) {
        bottom: 21%;
        left: 23%;
        
      }
      @media screen and (max-width: 550px) {
        width: 22px;
        bottom: 20.5%;
        left: 21%;
      }
    }
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
