.non-render {
  animation: displayNone 0.9s ease;
  animation-fill-mode: forwards;
}

@keyframes displayNone {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.login-mobile {
  @media screen and (min-width: 670px) {
    display: none;
  }
}

.login-desktop {
  @media screen and (max-width: 669px) {
    display: none;
  }
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  @media screen and (min-width: 650px) {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    animation: scaleLogin .6s ease;
    transform: translate(-50%, -50%) scale(1);
  }
  @media screen and (max-width: 669px) {
    padding: 3.5rem;
    width: 50rem;
    height: 60rem;
    border-radius: 5rem;
    text-align: center;
    overflow: hidden;
    animation: scaleLogin .6s ease;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 1s ease;
  }
  @media screen and (max-width: 450px) {
    padding: 2.5rem;
    width: 45rem;
    height: 58rem;
  }
  @media screen and (max-width: 400px) {
    padding: 2rem;
    width: 42rem;
  }
}

.show-register-mobile {
  transform: translate(-50%, -50%) scale(1) rotateY(180deg);
}

.register {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  visibility: hidden;
  animation: displayRegister 0s ease 0.3s;
  animation-fill-mode: forwards;
  &-side-login-btn {
    margin-left: 25px;
    margin-top: 25px;
  }
}

@keyframes scaleLogin {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes displayRegister {
  to {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
}

////////////////////////////////////////////////////////////////
// MOBILE
////////////////////////////////////////////////////////////////

.login-mobile {
  &-close {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 25px;
    height: 25px;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 47%;
      right: 0;
      width: 25px;
      height: 3px;
      background-color: rgb(30, 30, 30);
      border-radius: 155px;
      transform: rotate(-45deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 47%;
      right: 0;
      width: 25px;
      height: 3px;
      background-color: rgb(30, 30, 30);
      border-radius: 155px;
      transform: rotate(45deg);
    }
  }

  &-header {
    margin-top: 2rem;
    font-family: "Lato", "sans-serif";
    font-weight: 100;
    font-style: italic;
    font-size: 3rem;

    & span {
      color: rgb(87, 146, 255);
      font-size: 3.5rem;
    }
  }

  &-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    & input:focus {
      outline: none;
    }

    & input[type="submit"] {
      font-family: "Roboto Slab";
      padding: 0.7rem 2.2rem;
      font-size: 1.8rem;
      background-color: transparent;
      border: none;
      box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
      border-radius: 12px;
      color: #5759ff;
      font-weight: 500;
      cursor: pointer;
      transform: scale(1);
      transition: transform 0.2s ease, box-shadow 0.5s ease;

      &:hover {
        transform: scale(1.15);
        box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.2);
      }

      &:active {
        transform: scale(0.95);
        box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.5);
      }
    }

    & > div {
      position: relative;
      width: 80%;
      margin-bottom: 4rem;

      & > .non-filled-input {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 2rem;
        color: rgb(175, 175, 175);
        transition: 0.5s ease;
      }

      & input {
        font-size: 1.6rem;
        width: 100%;
        padding: 1.5rem;
        border: none;
        border-bottom: 1px solid black;
        background-color: rgb(245, 245, 245);
      }

      & input:focus + .non-filled-input {
        position: absolute;
        top: -1.4rem;
        left: 0;
        font-size: 1.4rem;
        color: blue;
      }
    }
  }
  &-forget-pass {
    display: flex;
    margin-top: 2rem;
    font-size: 1.8rem;
    padding: 0.1rem;

    & a {
      border-bottom: 1px solid black;
    }
  }

  &-l-header {
    margin: 3rem 0;
  }
}

.filled-input {
  position: absolute;
  top: -1.4rem;
  left: 0;
  font-size: 1.4rem;
  color: blue;
}

////////////////////////////////////////////////////////////////
// DESKTOP
////////////////////////////////////////////////////////////////

.login {
  position: absolute;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  &-h1 {
    font-weight: bold;
    margin: 0;
  }

  &-p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }

  &-span {
    font-size: 12px;
  }

  &-a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &-button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
  }

  &-button:active {
    transform: scale(0.95);
  }

  &-button:focus {
    outline: none;
  }

  &-ghost {
    background-color: transparent;
    border-color: #ffffff;
  }

  &-form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    height: 100%;
    text-align: center;
  }

  &-input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  &-sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  &-container.login-right-panel-active .login-sign-in-container {
    transform: translateX(100%);
  }

  &-sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  &-container.login-right-panel-active .login-sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  &-overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  &-container.login-right-panel-active .login-overlay-container {
    transform: translateX(-100%);
  }

  &-overlay {
    background-image: linear-gradient(
      315deg,
      #0ebbbb 0%,
      rgb(0, 118, 173) 55%,
      #1e6ca0 74%,
      rgb(26, 26, 97) 100%
    );
    background-color: #0cbaba;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  &-container.login-right-panel-active .login-overlay {
    transform: translateX(50%);
  }

  &-overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  &-overlay-left {
    transform: translateX(-20%);
  }

  &-container.login-right-panel-active .login-overlay-left {
    transform: translateX(0);
  }

  &-overlay-right {
    right: 0;
    transform: translateX(0);
  }

  &-container.login-right-panel-active .login-overlay-right {
    transform: translateX(20%);
  }

  &-social-container {
    margin: 2rem 0;
  }

  &-social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;

    img {
      width: 70%;
      height: 70%;
    }
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.display-none {
  display: none;
}
